#query {
  width: 100%;
  font-size: 20px;
}

#search {
  width: 100px;
}

#add-tag {
  width: 100px;
}

.btn-secondary {
  color: #ffffff;
  background-color: #777;
  border-color: #555;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open .dropdown-toggle.btn-secondary {
  color: #ffffff;
  background-color: #888;
  border-color: #444;
}
